@media (min-width: 1024px) and (max-width: 1248px) {

    //---------- SINGLE-POST ----------//
    .single-post {

        //---------- COMMENT ----------//
        .wr-comment {
            //----------COMMENTS-CONTAINER----------//
             .comments-container {
                 .comments-list .comment-box {
                     width: 852px !important;
                 }
                 .reply-list .comment-box {
                    width: 779px !important;
                 }
             }
        }
    }

    //---------- ABOUT ----------//
    .about-page {

        //----------OUR-TEAM----------//
        .our-team {
            .content-slider {
                .team-list {
                    width: 400px !important;
                    padding: 100px !important;
                }
            }
        }
        padding-top: 130px !important;
    }
}